<article class="share">
    <div class="sh-elements">
      {% if post.image.teaser %}
        <div class="sh-left">
          <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
              <img src="{{ site.url }}/images/{{ post.image.teaser }}" alt="teaser">
          </a>
        </div>
        <div class="sh-rigth">
          <div class="post-category">
            {{ post.category }}
          </div>
          {% if post.link %}
            <div class="post-title">
              <a href="{{ post.link }}">
                {{ post.title }}
              </a>
            </div>
            <div class="post-excerpt">
              <a href="{{ post.link }}">
                {{ post.excerpt | strip_html | truncate: 100 }}
              </a>
            </div>
          {% else %}
            <div class="post-title">
              <a href="{{ site.url }}{{ post.url }}">
                {{ post.title }}
              </a>
            </div>
            <div class="post-excerpt">
              <a href="{{ site.url }}{{ post.url }}">
                {{ post.excerpt | strip_html | truncate: 100 }}
              </a>
            </div>
          {% endif %}          
          <div class="share-this">
            {% include share-this.html %}
          </div>
        </div>
      {% else %}
        <div class="sh-rigth wide">
          <div class="post-category">
            {{ post.category }}
          </div>
          {% if post.link %}
            <div class="post-title">
              <a href="{{ post.link }}">
                {{ post.title }}
              </a>
            </div>
            <div class="post-excerpt wide">
              <a href="{{ post.link }}">
                {{ post.excerpt | strip_html | truncate: 260 }}
              </a>
            </div>
          {% else %}
            <div class="post-title">
              <a href="{{ site.url }}{{ post.url }}">
                {{ post.title }}
              </a>
            </div>
            <div class="post-excerpt wide">
              <a href="{{ site.url }}{{ post.url }}">
                {{ post.excerpt | strip_html | truncate: 260 }}
              </a>
            </div>
          {% endif %}
          
          {% include post-meta.html %}     
          
          <div class="share-this">
            {% include share-this.html %}
          </div>

        </div>
      {% endif %}
    </div>
</article>
