{% if post.url %}
<div class="inline-btn">
  <a class="btn-social twitter" href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ site.url }}{{ post.url }}&amp;via={{ site.owner.twitter }}" target="_blank">
    <div class="base">
      <i class="fa fa-twitter" aria-hidden="true"></i> 
      <span>Share on Twitter</span>
    </div>
  </a>
  <a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}" target="_blank">
    <div class="base">
      <i class="fa fa-facebook" aria-hidden="true"></i> 
      <span>Share on Facebook</span>
      </div>
  </a>
</div><!-- /.share-this -->
{% else %}
<div class="inline-btn">
  <a class="btn-social twitter" href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.owner.twitter }}" target="_blank">
    <div class="base">
      <i class="fa fa-twitter" aria-hidden="true"></i> 
      <span>Share on Twitter</span>
    </div>
  </a>
  <a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
    <div class="base">
      <i class="fa fa-facebook" aria-hidden="true"></i> 
      <span>Share on Facebook</span>
      </div>
  </a>
{% endif %}