{% if post.url %}
<div class="inline-btn">
  <a class="btn-social twitter" href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ site.url }}{{ post.url }}&amp;via={{ site.owner.twitter }}" target="_blank">
    <div class="base">
      <i class="fa fa-twitter" aria-hidden="true"></i> 
      <span>Share on Twitter</span>
    </div>
  </a>
  <a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}" target="_blank">
    <div class="base">
      <i class="fa fa-facebook" aria-hidden="true"></i> 
      <span>Share on Facebook</span>
      </div>
  </a>
  <!--div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div-->
  <!--a class="btn-social google-plus"  href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> Share on Google+</a-->
</div><!-- /.share-this -->
{% else %}
<div class="inline-btn">
  <a class="btn-social twitter" href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.owner.twitter }}" target="_blank">
    <div class="base">
      <i class="fa fa-twitter" aria-hidden="true"></i> 
      <span>Share on Twitter</span>
    </div>
  </a>
  <a class="btn-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
    <div class="base">
      <i class="fa fa-facebook" aria-hidden="true"></i> 
      <span>Share on Facebook</span>
      </div>
  </a>
  <!--div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div-->
  <!--a class="btn-social google-plus"  href="https://plus.google.com/share?url={{ page.url | replace:'index.html','' | prepend: site.url }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i> Share on Google+</a-->
{% endif %}