---
layout: defaultnolead
---
{% if page.image.feature %}
  <div class="page-lead" style="background-image:url(//{{ site.base_url }}/images/{{ page.image.feature }})">
{% else %}
  <div class="page-lead" style="background-image:url(//{{ site.base_url }}/images/bg01_1600x800_mini.jpg)">
{% endif %}
      <div id="masthead">
        <div class="inner-wrap">
          <a href="{{ site.url }}" class="site-title" style="background-image:url(//{{ site.base_url}}/images/white-dwi.svg); background-repeat: no-repeat; background-position: left center;">
          </a>
          <nav role="navigation" class="menu top-menu">
            {% include navigation.html %}
          </nav>
        </div><!-- /.inner-wrap -->
      </div>
      <div class="wrap page-lead-content">
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
  </div>

<div id="page-wrapper">
<div id="main" role="main">	
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.categories %}{% include breadcrumbs.html %}{% endif %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
</div>
