<!DOCTYPE html>
<html>
<!--html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"-->
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
    {% endif %}
    {% include open-graph.html %}
    {% if author.google.plus %}<link rel="author" href="https://plus.google.com/{{ author.google.plus }}"/>{% endif %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
    <link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">
    <link rel="shortcut icon" href="{{ site.url }}/favicon.png">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta name="google" content="notranslate" />

    <meta property="fb-admins" content="{{page.fb-admins}}" />

    <style>
    .sliding-menu-content {
      top: 0;
      right: 0;
      text-align: center;
      visibility: hidden;
      height: 100%;
      width: 100%;
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
      transform: translateX(100%);
    }
    </style>

    <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    <!-- HTML5 Shiv and Media Query Support for IE -->
    <!--[if lt IE 9]>
      <script src="{{ site.url }}/js/vendor/html5shiv.min.js"></script>
      <script src="{{ site.url }}/js/vendor/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <script src="{{ site.url }}/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="{{ site.url }}/js/main.js"></script>
    <script src="{{ site.url }}/js/header_fader.js"></script>
    {% include fb_sdk_scripts.html %}
    <header class="header absolute transparent naver">
        <div id="masthead-article">
          <div class="inner-wrap">
            <a href="{{ site.url }}" class="site-title white-logo"></a>
            <nav role="navigation-article" class="menu-article floated">
              <ul>
                {% for link in site.data.navigation %}
                  {% if link.url contains 'http' %}
                    {% assign domain = '' %}
                  {% else %}
                    {% assign domain = site.url %}
                  {% endif %}
                  <li>
                    <a class="white" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
                  </li>
                {% endfor %}
                <li>
                  <button type="button" class="js-menu-trigger sliding-menu-button-article menulines-button x2" role="button" aria-label="Toggle Navigation">
                    <span class="menulines white">
                    </span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    </header>
    {% include navigation-sliding.html %}

      <div class="page-lead home" style="background-image:url(//{{ site.base_url }}/images/bg01_1600x800_mini.jpg)">
        <div id="masthead">
          <div class="inner-wrap">
          </div><!-- /.inner-wrap -->
        </div>
        <div class="wrap page-lead-content">
          <br>
          <h1>THINK THROUGH. EXECUTE.</h1>
          <br>
          <br>
          <br>
        </div>
      </div>

    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      {{ content }}

      {% include footer.html %}
    </div>

    
    {% if page.toc == true %}
    <script type="text/javascript">
      $('.toc').toc({
        'selectors': 'h2', //elements to use as headings
        'container': '.page-content', //element to find all selectors in
        'smoothScrolling': true, //enable or disable smooth scrolling on click
        'prefix': 'toc', //prefix for anchor tags and class names
        'onHighlight': function(el) {}, //called when a new section is highlighted 
        'highlightOnScroll': true, //add class to heading that is currently in focus
        'highlightOffset': 100, //offset to trigger the next headline
        'anchorName': function(i, heading, prefix) { //custom function for anchor name
          return prefix+i;
        },
        'headerText': function(i, heading, $heading) { //custom function building the header-item text
          return $heading.text();
        },
        'itemClass': function(i, heading, $heading, prefix) { //custom function for item class
          return $heading[0].tagName.toLowerCase();
        }
      });
    </script>
    {% endif %}

  </body>

  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'directionwithintent'; // required: replace example with your forum shortname
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>

</html>
